{%extends 'base.html'%}

{%block body%}
{%for o in order%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            {%if o.product.image%}
            <div class="col-md-5"><img class="card-img-top mb-5 mb-md-0" src="{{o.product.image.url}}" alt="..." />
                {%else%}
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                        src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                    {%endif%}
                </div>
                <div class="col-md-5">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">{{o.product.product_name}}</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through"></span>
                        <span>Rs. {{o.product.price}}</span>
                        <span>Expected Date{{o.expected_deliverydate}}</span>
                        <span>Status {{o.status}}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <a href="{%url 'cancelled' o.id%}" class="btn btn-outline-danger">Cancel</a>
                    <a href="{%url 'review-add' o.product.id%}" class="btn btn-info mt-2">Add Your Review</a>
                </div>
            </div>
            </div>
        </div>
</section>

{%endfor%}
{%endblock%}